@model OnlineExam.Models.ViewModels.ExamsVM

<div class="container-student-exam">
    <div class="container border-left border-right">
        <div class="row pt-4" style="background-color:#fafafa; min-height:77vh">
            <div class="col-9">
                <div class="mb-4 p-0 shadow-sm" id="course-details">
                    <div class="card rounded bg-primary">
                        <div class="card-header text-light">
                            <h3 style="margin:0px">
                                <i class="fas fa-info-circle" style="color:#eebd81"></i>&nbsp; About this course
                            </h3>
                        </div>
                        <div class="card-body bg-light rounded-bottom">
                            <h2 class="text-secondary">@Model.Course.Name</h2>
                            @Html.Raw(Model.Course.DescriptionDetailed)
                            <div class="text-secondary">
                                <div class="mb-2" style="font-size:medium"><i class="fas fa-user text-dark"></i>&nbsp; Created by @Model.Course.ApplicationUser.Name</div>
                                <div style="font-size:medium"><i class="fas fa-user-friends text-dark"></i>&nbsp; @Model.CountCourseUsers Students</div>
                            </div>
                        </div>
                    </div>
                </div>

                @foreach (var exam in Model.Exams)
                {
                    <div class="mb-5">
                        <input type="hidden" asp-for="@exam.StartDate" id="exam-@exam.Id-startDate" />
                        <input type="hidden" asp-for="@exam.EndDate" id="exam-@exam.Id-endDate" />
                        <div class="col-12 mb-3 bd-callout bd-callout-danger bg-primary shadow-sm" id="exam-@exam.Id">
                            <span class="text-light" style="font-size:larger">
                                <i class="fas fa-user-edit"></i>&nbsp; @exam.DateCreated.ToString("MMMM dd yyyy HH:mm")
                            </span>
                        </div>
                        <div class="card shadow-sm rounded" style="background-color:#828b93">
                            <div class="card-header p-2">
                                <h3 class="text-center text-light mb-0">@exam.Name</h3>
                            </div>
                            <div class="card-body bg-white rounded-bottom" style="">
                                @Html.Raw(exam.Details)
                                <p><span class="font-weight-bold text-secondary">Start Date:</span>&nbsp;@exam.StartDate.ToString("MMMM dd yyyy HH:mm")</p>
                                <p><span class="font-weight-bold text-secondary">Duration:</span>&nbsp;@exam.Duration.Hours Hours, @exam.Duration.Minutes Minutes</p>
                                <div class="text-center">
                                    <button onclick="beginExam('@exam.Id')" class="btn btn-danger rounded-0 border-0 shadow-sm text-light py-2 hvr-underline-from-center" style="width:130px; font-size:120%">Begin Exam</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-3">
                <div class="card bg-primary shadow-sm mb-4"  style="background:none">
                    <div class="card-header border-bottom">
                        <h3 class="text-center text-light mb-0"><i class="fas fa-sitemap" style="color:#eebd81"></i>&nbsp; Navigation</h3>
                    </div>
                    <div class="bg-white rounded-bottom">
                        @{
                            foreach (var course in Model.CoursesNavigation)
                            {
                                var exams = Model.ExamsNavigation.Where(e => e.CourseId == course.Id);
                                <div class="accordion" id="accordionExample">
                                    <div class="card border-0 rounded-bottom">
                                        <div class="card-header pl-2 border-top rounded-0">
                                            <h6 class="mb-0">
                                                <button class="btn btn-link text-dark ml-2 px-0 text-decoration-none hvr-underline-from-center" style="font-size:110%" type="button" data-toggle="collapse" data-target="#collapse-@course.Id" aria-expanded="true" aria-controls="collapse-@course.Id">
                                                    <i class="fas fa-book-open text-secondary"></i>&nbsp; @course.Name
                                                </button>
                                            </h6>
                                        </div>

                                        <div id="collapse-@course.Id" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <a class="btn btn-link text-dark p-0 pb-1 text-decoration-none hvr-icon-forward" asp-area="Student" asp-controller="Exam" asp-action="Index"
                                                   asp-route-id="@course.Id" asp-fragment="course-details"><i class="fas fa-chevron-right text-secondary hvr-icon"></i>&nbsp; About this course</a>
                                                @foreach (var exam in exams)
                                                {
                                                    <a class="btn btn-link text-dark ml-4 p-0 pb-1 text-decoration-none  hvr-icon-forward" asp-area="Student" asp-controller="Exam" asp-action="Index"
                                                       asp-route-id="@course.Id" asp-fragment="exam-@exam.Id"><i class="fas fa-chevron-right text-secondary hvr-icon"></i>&nbsp; @exam.Name</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/student-exam-index.js"></script>
}

