@model OnlineExam.Models.Question

<form asp-action="Upsert" enctype="multipart/form-data" onsubmit="return postModal(this);">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ExamId" />
    @if (Model.Id != 0)
    {
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ImageUrl" id="question-imageurl" />
    }
    <div class="form-group">
        @if (Model.Id != 0)
        {
            <div class="rounded d-flex align-items-center overflow-hidden border" style="max-height:220px;">
                <img id="img-preview" src="@Model.ImageUrl" class="w-100 rounded" />
            </div>
        }
        else
        {
            <div class="rounded d-flex align-items-center overflow-hidden border container-question">
                <img id="img-preview" src="" class="w-100" />
            </div>
        }
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Points"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text border"><i class="fas fa-hashtag"></i></div>
                    </div>
                    <input asp-for="Points" class="form-control border" />
                </div>
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <label>Image</label>
            <div class="custom-file">
                <input type="file" name="files" id="upload-box" accept="image/*" multiple class="custom-file-input" />
                <label class="custom-file-label border" for="upload-box">Choose an Image file...</label>
            </div>
        </div>
    </div>

    @{
        int? CorrectChoice = Model.CorrectChoice;
        if (Model.Choices != null)
        {
            //foreach (var Choice in Model.Choices)
            for (int i = 0; i < Model.Choices.Count(); i++)
            {
                //Id of this choice.
                <input type="hidden" name="Choices[@i].Id" value="@Model.Choices.ElementAt(i).Id" />

                //Choice number of this choice with respect to the question it belongs to.
                <input type="hidden" name="Choices[@i].ChoiceNumber" value="@Model.Choices.ElementAt(i).ChoiceNumber" />

                //Id of the question this choice belongs to.
                <input type="hidden" name="Choices[@i].QuestionId" value="@Model.Id" />

                //Convert choice number to uppercase character.
                char letter = (char)('A' + (char)(i % 27));
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text border">

                            @*If this is the correct choice, make radio button checked.*@
                            <input type="radio" asp-for="CorrectChoice" id="choice-@i" value="@Model.Choices.ElementAt(i).ChoiceNumber"
                                   checked="@(@Model.Choices.ElementAt(i).ChoiceNumber == CorrectChoice ? "checked" : null)">
                            <label class="form-check-label" for="choice-@i">&nbsp; Choice @letter </label>
                        </div>
                    </div>

                    @*Fill input element with the content of this choice.*@
                    <textarea rows="1" class="form-control border" asp-for="@Model.Choices.ElementAt(i).Description" name="Choices[@i].Description" id="description-@i"></textarea>
                    @*<span asp-validation-for="@Model.Choices.ElementAt(i).Description" class="text-danger"></span>*@
                    @*<div class="input-group-append">
                            <button class="btn input-group-text" type="button"><i class="fas fa-plus pl-2 pr-2"></i></button>
                        </div>*@
                </div>
            }
        }
        else
        {
            for (int i = 0; i < 2; i++)
            {
                //Id of this choice.
                <input type="hidden" name="Choices[@i].Id" value="0" />

                //Choice number of this choice with respect to the question it belongs to.
                <input type="hidden" name="Choices[@i].ChoiceNumber" value="@i" />

                //Id of the question this choice belongs to.
                <input type="hidden" name="Choices[@i].QuestionId" value="@Model.Id" />

                //Convert choice number to uppercase character.
                char letter = (char)('A' + (char)(i % 27));
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text border">

                            @*If this is the correct choice, make radio button checked.*@
                            <input type="radio" asp-for="CorrectChoice" id="choice-@i" value="@i">
                            <label class="form-check-label" for="choice-@i">&nbsp; Choice @letter </label>
                        </div>
                    </div>

                    @*Fill input element with the content of this choice.*@
                    <textarea rows="1" class="form-control border" name="Choices[@i].Description"></textarea>
                </div>
            }
        }
    }
    <div class="row modal-footer pb-2">
        @if (Model.Id != 0)
        {
            <button type="submit" class="btn btn-primary">Update</button>
            <a onclick="closeModal()" class="btn btn-success text-white" style="cursor:pointer">Back to List</a>
        }
        else
        {
            <button type="submit" class="btn btn-primary">Create</button>
            <a onclick="closeModal()" class="btn btn-success text-white" style="cursor:pointer">Back to List</a>
        }
    </div>
</form>

@section Scripts{
    <script></script>
}
